---
# Use a comment to ensure Jekyll reads the file to be transformed into CSS later
# only main files contain this front matter, not partials.
---

:root {
  --gray-600: #807a70;
  --pink: #d43f58;

  --body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --body-font-size: 15px;
  --body-line-height: 1.5;
  --body-color: #e38864;
  --body-bg: #000;

  --code-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --code-bg: var(--gray-000);

  --indentSpace: 30px;
  --spacer: 1rem;
  --spacer-2: calc(var(--spacer) * 1.5);
  --spacer-3: calc(var(--spacer) * 3);
}

* {
  box-sizing: border-box;
  overscroll-behavior: none;
}

body {
  margin: 0;
  margin-bottom: 30px;
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: var(--body-color);
  background-color: var(--body-bg);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  color: #f0719d;

  // `:focus` is linked to `:hover` for basic accessibility
  
  &:visited {
    // color: #a8253b; 
    color: var(--pink);
  }

  strong {
    color: inherit;
  }
}

.container {
  max-width: 42rem;
  margin: 0 auto;
}

div span {
  display: block;
  min-height: 22.5px;
}

code span, li span {
  display: inline;
  min-height: 0;
}

span, p {
  hyphens: auto;
}

.add {
  color: var(--body-color);
}

.rem {
  color: var(--gray-600);
}

.rem a {
  color: var(--gray-600);
}

p .date {
  color: var(--pink);
}

li .date {
  color: var(--gray-600);
}

li.date {
  color: var(--pink);
}

img {
  display: block;
  max-width: 100%;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 0 solid var(--border-color);
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

th {
  text-align: left;
}

thead th {
  border-bottom-color: currentColor;
  border-bottom-width: 1px;
  border-style: solid;
}


nav {
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 100;

  a {
    padding: 10px 0;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}


#content br {
  br {
    display: none;
  }

  p br {
    display: inline;
  }
}

article.post {
  margin-top: 1em;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--pink);
  font-weight: normal;
  scroll-margin-top: 40px;
}

h1 {
  font-size: 2em;
  margin: 1.2em 0 0.6em 0;
}

h2 {
  font-size: 1.83em;
  margin: 1em 0 0.5em 0;
}

h3 {
  font-size: 1.67em;
  margin: 0.8em 0 0.4em 0;
}

h4 {
  font-size: 1.5em;
  margin: 0.6em 0 0.3em 0;
}

h5 {
  font-size: 1.33em;
  margin: 0.4em 0 0.2em 0;
}

h6 {
  font-size: 1.17em;
  margin: 0.2em 0 0.1em 0;
}

ul {
  list-style-type: disc;
  padding-left: var(--indentSpace);

  &.posts {
    list-style: none;
    padding-left: 0;
  }
}

.indent {
  border-color: var(--pink);
  border-left: 1px solid var(--gray-600);
  color: var(--pink);
  padding-left: var(--indentSpace);
}

.post-date {
  color: var(--gray-600);
}


// Code
//
// Inline and block-level code snippets. Includes tweaks to syntax highlighted
// snippets from Pygments/Rouge and Gist embeds.

code,
pre {
  font-family: var(--code-font);
}

code {
  font-size: 85%;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: var(--spacer-3);
  overflow: auto;
}

.highlight {
  padding: var(--spacer);
  margin-bottom: var(--spacer);
  background-color: var(--code-bg);
  border-radius: var(--border-radius);

  pre {
    margin-bottom: 0;
  }

  // Triple backticks (code fencing) doubles the .highlight elements
  .highlight {
    padding: 0;
  }
}

.rouge-table {
  margin-bottom: 0;
  font-size: 100%;

  &,
  td,
  th {
    border: 0;
  }

  .gutter {
    vertical-align: top;
    user-select: none;
    opacity: .25;
  }
}

.highlight .hll { background-color: #ffc; }
.highlight .c { color: #999; } /* Comment */
.highlight .err { color: #a00; background-color: #faa } /* Error */
.highlight .k { color: #069; } /* Keyword */
.highlight .o { color: #555 } /* Operator */
.highlight .cm { color: #09f; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #099 } /* Comment.Preproc */
.highlight .c1 { color: #999; } /* Comment.Single */
.highlight .cs { color: #999; } /* Comment.Special */
.highlight .gd { background-color: #fcc; border: 1px solid #c00 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #f00 } /* Generic.Error */
.highlight .gh { color: #030; } /* Generic.Heading */
.highlight .gi { background-color: #cfc; border: 1px solid #0c0 } /* Generic.Inserted */
.highlight .go { color: #aaa } /* Generic.Output */
.highlight .gp { color: #009; } /* Generic.Prompt */
// .highlight .gs { } /* Generic.Strong */
.highlight .gu { color: #030; } /* Generic.Subheading */
.highlight .gt { color: #9c6 } /* Generic.Traceback */
.highlight .kc { color: #069; } /* Keyword.Constant */
.highlight .kd { color: #069; } /* Keyword.Declaration */
.highlight .kn { color: #069; } /* Keyword.Namespace */
.highlight .kp { color: #069 } /* Keyword.Pseudo */
.highlight .kr { color: #069; } /* Keyword.Reserved */
.highlight .kt { color: #078; } /* Keyword.Type */
.highlight .m { color: #f60 } /* Literal.Number */
.highlight .s { color: #d44950 } /* Literal.String */
.highlight .na { color: #4f9fcf } /* Name.Attribute */
.highlight .nb { color: #366 } /* Name.Builtin */
.highlight .nc { color: #0a8; } /* Name.Class */
.highlight .no { color: #360 } /* Name.Constant */
.highlight .nd { color: #99f } /* Name.Decorator */
.highlight .ni { color: #999; } /* Name.Entity */
.highlight .ne { color: #c00; } /* Name.Exception */
.highlight .nf { color: #c0f } /* Name.Function */
.highlight .nl { color: #99f } /* Name.Label */
.highlight .nn { color: #0cf; } /* Name.Namespace */
.highlight .nt { color: #2f6f9f; } /* Name.Tag */
.highlight .nv { color: #033 } /* Name.Variable */
.highlight .ow { color: #000; } /* Operator.Word */
.highlight .w { color: #bbb } /* Text.Whitespace */
.highlight .mf { color: #f60 } /* Literal.Number.Float */
.highlight .mh { color: #f60 } /* Literal.Number.Hex */
.highlight .mi { color: #f60 } /* Literal.Number.Integer */
.highlight .mo { color: #f60 } /* Literal.Number.Oct */
.highlight .sb { color: #c30 } /* Literal.String.Backtick */
.highlight .sc { color: #c30 } /* Literal.String.Char */
.highlight .sd { color: #c30; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #c30 } /* Literal.String.Double */
.highlight .se { color: #c30; } /* Literal.String.Escape */
.highlight .sh { color: #c30 } /* Literal.String.Heredoc */
.highlight .si { color: #a00 } /* Literal.String.Interpol */
.highlight .sx { color: #c30 } /* Literal.String.Other */
.highlight .sr { color: #3aa } /* Literal.String.Regex */
.highlight .s1 { color: #c30 } /* Literal.String.Single */
.highlight .ss { color: #fc3 } /* Literal.String.Symbol */
.highlight .bp { color: #366 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #033 } /* Name.Variable.Class */
.highlight .vg { color: #033 } /* Name.Variable.Global */
.highlight .vi { color: #033 } /* Name.Variable.Instance */
.highlight .il { color: #f60 } /* Literal.Number.Integer.Long */

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }
