@font-face {
  font-family: "Firava";
  src: url("./Firava.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Code";
  src: url("./FiraCode-VF.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Firava", "Segoe UI", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  color: #e38864;
  background-color: #000;
  max-width: 42rem;
  margin: auto;
  hyphens: auto;
}

a {
  color: #f0719d;
}
a::after {
  content: "\2197";
  display: inline-block;
  margin-left: 5px;
}
a[href^="#"]::after {
  content: "\2193";
  display: inline-block;
  margin-left: 5px;
}
a:visited, span.date, h1, h2, h3, h4, h5, h6 {
  color: #d43f58;
}

#top {
  scroll-margin-top: 43px;
}

span {
  display: block;
  min-height: 22.5px;
}

code, span, li span {
  display: inline;
  min-height: 0;
}

figure {
  background-color: #1f1f1f;
}
figcaption {
  padding: 1em;
  font-style: italic;
}
img, figure img {
  display: block;
  margin: 0 auto;
  max-width: min(42em, 100%);
  max-height: 50em;
  height: auto;
}

img.pixel { image-rendering: pixelated; }
img.fullwidth, img.pixel {width: 100%;}

p:not(:last-child), blockquote, ul:not(:last-child), ol, figure, hr, pre:not(:last-child), .codeblock, nav{
  margin-bottom: 1.5em;
}

body > nav:first-child {
  margin-bottom: 0;
  padding: 10px 10px 10px 0;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 100;
}

body > nav:first-child a {
  padding: 10px 10px 10px 0;
  display: inline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  scroll-margin-top: 40px;
}
h1     { font-size: 2.5em; margin: 1.2em 0 0.6em 0; }
h2, h3 { font-size: 1.9em; margin: 1.2em 0 0.8em 0; }
h4, h5 { font-size: 1.4em; margin: 0.8em 0 0.4em 0; }
h6     { font-size: 1.0em; margin: 0.2em 0 0.2em 0; }
h1, h3, h5 { font-weight: 300; }
h2, h4, h6 { font-weight: 600; text-transform: uppercase; }

ul, ol {
  padding-left: 30px;
}
ul {
  list-style-type: disc;
}

code, .codeblock {
  font-family: "Fira Code", monospace;;
  font-size: 85%;
  color: #fac7a8;
}

blockquote, .codeblock {
  background-color: #1f1f1f;
  padding: 15px 40px;
}

.codeblock {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: pre;
}

#profiepic {
  width: 200px;
}