---
layout: default
---

<nav>
  <a href='{{site.url}}/'>Entrance</a>
  {%- if page.history == true -%}
    {%- assign thisPostDate = page.date | date_to_xmlschema -%}
    {%- for post in site.posts -%}
      {%- if post.postDate == page.date -%}
        {%- assign historyUrl = post.url -%}
      {%- endif -%}
    {%- endfor -%}
    <a id="history" href="{{ historyUrl }}">History</a>
  {%- endif -%}
</nav>

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="post-date">Created: <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>, updated <time datetime="{{ page.updated | date_to_xmlschema }}">{{ page.updated | date_to_string }}: </time> {{ page.commitMsg }}</p>
  {{ content }}
</article>

<!-- {% if site.related_posts != empty %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %} -->
